<% include partials/_header %>

<div class="container">

  <div class="row">
    <div class="col-md-12">
      <a href="/add" class="btn btn-primary float-right" type="submit">
        Add User
      </a>
    </div>
    <div class="col-md-12">
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th>Name</th>
            <th>Mobile</th>
            <th>Email</th>
            <th>City</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <% for(var i=0; i < users.length; i++) { %>
            <tr>
              
              <td><strong><%= users[i].name %></strong></td>
              <td><%= users[i].mobile %></td>
              <td><%= users[i].email %></td>
              <td><%= users[i].city %></td>
              <td>
                <a href="/edit/<%= users[i]._id %>">
                  Edit
                </a>
              </td>
            </tr>
          <% } %>
        </tbody>
      </table>

    </div>
  </div>

</div>

